.card {
    margin-top: 4%;
    border: 1px solid black;
    width: 20%;
    height: auto;
    margin-right: 0.9rem;
    margin-bottom: 1.9rem;
    
}
.card > p {
    line-height: 1.6rem;
}
.card > a {
 margin-bottom: 1rem;
}

@media screen and (max-width: 468px) {
    .card {
        width: 100%;
    }
}