.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: auto;
}

.footer_text1 {
    width: 30%;
}
.text2 {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}
.text2 p{
    line-height: 0.4rem;
    text-align: right;
}

@media screen and (max-width: 468px) {
    .footer {
        margin-top: 1rem;
        flex-direction: column;
        text-align: center;
    }
    .footer_text1 {
        width: auto;
    }
    .text2 p {
        text-align: center;
    }
}